doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Google auth
  body
    h1 Welcome !
    form(action='/auth/google', method='GET')
      input(type='submit', value='Sign In with Google')